/* globals */
.app {
  text-align: center;
  background-color: #232323;
  min-height: 150vh;
}

a{
  text-decoration: none;
  color: inherit;;
}
a:hover{
  opacity: 0.7;
}
.active{
  font-weight: 500;
  color: #E1AD60!important;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

/* primary nav */
.header .primary{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #171717;
  padding: 0px 20px;
}
.header .primary ul{
  list-style-type: none;
  margin: 0px;
  padding: 10px 0px;
}
.header .primary ul li{
  display: inline-block;
  padding: 0px 12px;
}

/* primary left */
.header .primary .left li{
  color: rgb(242, 242, 246);

}

/* primary right */
.header .primary .right li{
  color: #696666;
  padding-left:  120px;
}
.header .primary .right li i{
  color: rgb(242, 242, 246);
}
.header .primary .right li span{
  font-size: 16px;
  color: rgb(242, 242, 246);
  border-radius: 50%;
  width: 16px;
  padding:2px;
  display: block;
  background-color: #434343;
}

/* secondary nav */
.header .secondary{
  display:block;
  width: 100%;
  background-color: #232323;
  padding: 0px 5px;
  -webkit-box-shadow: -1px 5px 50px -3px rgba(16, 16, 16, 0.75);
  -moz-box-shadow: -1px 5px 50px -3px rgba(16, 16, 16, 0.75);
  box-shadow: -1px 5px 50px -3px rgba(16, 16, 16, 0.75);
  color: #696666;
  font-size:13px;
}

.header .secondary > div{
  display: inline-block;
  width:50%;
}
.header .secondary ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding:0;
  margin:0;
}
.header .secondary ul li{
  justify-content: center;
  padding: 15px 15px;
  text-align: center;
  align-self: center;
}

/* secondary left */
.header .secondary .left{
  border-right: 1px solid rgb(28, 27, 27);
  margin-left: -1px
}
.header .secondary .left .big{
  font-size: 16px;
  padding-bottom: 6px;
  display: block;
}

/* secondary right */
.header .secondary .right ul{
  flex-direction: row;
  justify-content: center;
}
.header .secondary .right .big{
  font-size: 16px;
  padding-bottom: 3px;
  display: block;
}

/* container */
.container{
  max-width: 77%;
  margin: 0 auto;
  padding-top: 20px;
  /* border: 1px solid gray; */
  text-align: left;
  color: rgb(197, 200, 200);
  font-weight:500;
}

.container .tick {
  padding-right: 15px;
}

.container .row{
  width: 100%;
  display:block;
  padding: 10px 0px;
}

.quarter{
  width:25%;
  display: inline-block;
  vertical-align: top;
}

.eighth{
  width: 12.5%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0px;
}
.searchBoxContainer{
  width: 32.5%;
  display: inline-block;
  vertical-align: top;
}
.container ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
.container ul li {
  text-decoration: none;
  padding-bottom: 5px;
  font-size: 15px;

}
 .muted{
   color: rgb(140, 121, 95)
 }
.utilBox{
  margin-top: 30px;
  padding: 2px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.75);
  font-size: 15px;
}

.utilBox .labels{
  border-bottom: 1px solid rgb(23, 23, 23);
  padding-top: 10px;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.searchBox{
  position: relative;
  background-color: rgb(18, 17, 17);
  width: 100%;
  display: block;
  padding: 10px 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;;
}

.dropDown{
  position: absolute;
  width:100%;
  top: 100%;
  left:0;
  background-color: #232323;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;;
  -webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.75);
  padding-bottom: 6px;
  /* margin-right: -15px; */
}
.dropDown ul li{
  padding: 4px 15px;

}
.dropDown ul .selected{
  background-color: rgb(27, 23, 23)
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
